h1 { 
    text-align: center;
    color:slateblue;
    font-size: 50px;
}
img {
    padding-right: 40px;
    float: right;
}
hr {
    border-style: dashed;
    margin-top: 25px;
}
h2 {
    text-decoration-line: underline;
    text-shadow: 1px 1px 1px purple;
}
body {
    background-color: ghostwhite;
}
